<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p class="m-5">Welcome to our innovative and user-friendly website designed
				to simplify your contact management experience. Our platform
				provides a seamless solution for individuals and businesses to
				effortlessly save and organize their contacts. With an intuitive and
				easy-to-navigate interface, users can quickly add, edit, and
				categorize contacts, ensuring a well-organized and accessible
				contact list. Our website is equipped with robust features that
				empower users to store not only basic contact information but also
				additional details, such as email addresses, phone numbers, and
				custom notes. The user-centric design emphasizes simplicity,
				allowing individuals of all technical backgrounds to efficiently
				manage their contacts without any hassle. In addition to the core
				functionalities, our website offers secure and cloud-based storage,
				ensuring that your valuable contact information is accessible from
				anywhere, anytime. Whether you're on the go or at your desk,
				managing your contacts has never been more convenient. We prioritize
				user privacy and data security, implementing advanced encryption
				measures to safeguard your information. Explore our website today
				and discover the convenience of an organized and easily accessible
				contact management system. Simplify your life, streamline your
				contacts – all in one place. Welcome to a new era of effortless
				contact management!</p>
			<button class="btn bg-primaryy btn-lg text-white">Get Started</button>
		</div>
	</section>
</body>
</html>